.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height:auto;
    justify-content: space-between;
    padding:0 10px;

    @media screen and (max-width:380px) {
        flex-direction: column;
    }

    h1 {
        font-size:21px;
    }

    .hotpink-logo {
        font-family: Pacifico, cursive;
        padding:0px 10px;
        background-color:hotpink;
        border-radius:7px;
        font-size:14px;
        font-weight: normal;
    }
  }