@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Pacifico");
body {
  margin: 0;
  padding: 0;
  font-family: 'Fugaz One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: auto;
  justify-content: space-between;
  padding: 0 10px; }
  @media screen and (max-width: 380px) {
    .App-header {
      flex-direction: column; } }
  .App-header h1 {
    font-size: 21px; }
  .App-header .hotpink-logo {
    font-family: Pacifico, cursive;
    padding: 0px 10px;
    background-color: hotpink;
    border-radius: 7px;
    font-size: 14px;
    font-weight: normal; }

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url(./img/clock-bg.jpg);
  background-size: cover;
  background-position: 50%; }

main {
  display: table-cell;
  height: 80vh;
  vertical-align: middle;
  text-align: center;
  width: 100vw; }
  main .clock {
    width: 200px;
    height: 200px;
    padding: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 6px #333; }
    main .clock h2, main .clock h3 {
      font-weight: normal;
      font-size: 150%; }
    main .clock h2 {
      margin-bottom: 0; }
    main .clock h3 {
      margin-top: 0; }
